li {text-align:center}
ol {text-align:center}



h1 {background-color:green;}
li {background-color:white;}
head {background-color:#6495ed;}
body {background-color:green;}
select {background-color:white;}
option {background-color:#e0ffff;}